header
	.container.h-100
		.container-custom.container-1385px.h-100
			.header__logo
				a.headerLogo__link(href="index.html")
					img.lazyload.blur-up(data-src="./assets/logo.png", alt="LOC-TROI")
			.header__nav--top
				.navtop__wrapper
					.header__languages.language
						.languages__item.item(data-language="vi")
							a.languages__link(href="#") VN
						.languages__item.item(data-language="en")
						a.languages__link(href="#") ENG
					.header__quick-links
						.quick-links__item
							a(href="#").item__link Tuyển dụng
					.header__search
						form(action="#")
							.search__form
								.search__input
									input(type="search" placeholder="...")
								.searh__button
									button.btn
										.icon
											img.svg(src="./assets/icons/search.svg", alt="SEARCH")
			.header__nav--bottom
				.hamburgerIcon
					span
					span
					span
				.navbottom__wrapper
					.nav-bar
						.navBar__item(fp-target="1" scroll-to="about")
							a(href="#").navBar__link giới thiệu
						.navBar__item(fp-target="2" scroll-to="news")
							a(href="#").navBar__link tin tức
						.navBar__item(fp-target="3" scroll-to="products")
							a(href="#").navBar__link sản phẩm
						.navBar__item(fp-target="5" scroll-to="relations")
							a(href="#").navBar__link quan hệ cổ đông
						.navBar__item(fp-target="4" scroll-to="development")
							a(href="#").navBar__link phát triển bền vững
						.navBar__item(fp-target="6" scroll-to="media")
							a(href="#").navBar__link media
						.navBar__item
							a(href="#").navBar__link liên hệ