.section-development {
	.section-text {
		position: absolute;
		left: 250px;
		top: 50%;
		transform: translateY(-50%);
	}
}

.development-desc {
	margin-top: 20px;
	max-width: 390px;
}

.development-img {
	position: absolute;
	right: 0;
	bottom: 40px;
}

.development-read-more {
	margin-top: 30px;
}
