.slider-section-media {
	position: relative;
	padding-left: 112px;
	.swiper-container {
		border-radius: 20px;
	}
	.slider-section-media-button-prev,
	.slider-section-media-button-next {
		cursor: pointer;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 50px;
		height: 50px;
		background-size: 100% 100%;
		background-repeat: no-repeat;
		&.swiper-button-disabled {
			opacity: 0.5;
		}
		@media (min-width: 1025px) {
			transition: 0.3s all ease-in-out;
			&:hover {
				transform: translateY(-50%) scale(1.1);
			}
		}
	}

	.slider-section-media-button-next {
		left: 0;
		background-image: url(../assets/icons/arrow-left-white-has-bg.svg);
	}
}

.meida__item {
	position: relative;
	display: block;
}

.meida-desc {
	max-width: 536px;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 45px;
}

.media__thumbnail {
	border-radius: 20px;
	height: 461px;
}

.thumbnail__desc {
	position: absolute;
	width: 80%;
	bottom: 30px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 15;
	p {
		color: map-get($color, x-white);
		font-size: 2rem;
	}
}
