extends _templates/_layout/_layout.pug

block var
	- let title = 'Lộc Trời | Trang chủ';
	- let bodyClass = 'index-page';

block loading
	include _templates/_layout/_loading
block banner,breadcrumb
block main
	.fp-container
		.fp-wrapper
			// TRANG CHỦ
			include _templates/index/i-0
			// GIỚI THIỆU
			include _templates/index/i-1
			// TIN TỨC
			include _templates/index/i-2
			// SẢN PHẨM
			include _templates/index/i-3
			// PHÁT TRIỂN BỀN VỮNG
			include _templates/index/i-4
			// QUAN HỆ CỔ ĐÔNG
			include _templates/index/i-5
			// MEDIA
			include _templates/index/i-6
			// CONTACT
			include _templates/index/i-7
		.fp-buttons
			.fp-buttons__wrapper
				.fp-next
				.fp-prev
		.fp-links
			.fp-links__wrapper
				.fp-link-item
					a(href="http://hatngoctroi.vn/" target="_blank") Hạt ngọc trời
				.fp-link-item
					a(href="http://huongvitroi.vn/" target="_blank") Hương vị trời
				.fp-link-item
					a(href="http://nguoiloctroi.vn/" target="_blank") Người ngọc trời
		.fp-socials
			.container
				.container-custom.container-1385px
					.socials
						a(href="#").social__item
							img.svg(src="./assets/icons/instagram-white.svg", alt="instagram")
						a(href="#").social__item
							img.svg(src="./assets/icons/facebook-white.svg", alt="facebook")
						a(href="#").social__item
							img.svg(src="./assets/icons/youtube-white.svg", alt="youtube")
block scripts