.fp-slide(fp-tooltip="Trang chủ")
	section.setting-section.section-homepage(fp-bg="./assets/images/background-fullpage/index-1.png")
		.container.h-100
			.container-custom.container-1385px.h-100
				.section-title
					.text.cl-white(style="--fz: 10.1rem") TẬP ĐOÀN
					.text.cl-irish(style="--fz: 13rem") NÔNG NGHIỆP
					.text.cl-green(style="--fz: 9.3rem") TRI THỨC
				.section-image-circle
					.img.ov-h
						img.ofcv.lazyload.blur-up(data-src="./assets/images/index-1/item-section.png", alt="ITEM-HOME-PAGE")
		.section-services
			.services__wrapper
				a(href="#").service__item
					.service__icon
						img.svg(src="./assets/icons/service-1.svg", alt="")
					.service__name
						span THỰC PHẨM
				a(href="#").service__item
					.service__icon
						img.svg(src="./assets/icons/service-2.svg", alt="")
					.service__name
						span DỊCH VỤ
				a(href="#").service__item
					.service__icon
						img.svg(src="./assets/icons/service-3.svg", alt="")
					.service__name
						span CHUỖI GIÁ TRỊ
				a(href="#").service__item
					.service__icon
						img.svg(src="./assets/icons/service-4.svg", alt="")
					.service__name
						span CÙNG NÔNG DÂN RA ĐỒNG
				a(href="#").service__item
					.service__icon
						img.svg(src="./assets/icons/service-5.svg", alt="")
					.service__name
						span NGHIÊN CỨU & PHÁT TRIỂN
				a(href="#").service__item
					.service__icon
						img.svg(src="./assets/icons/service-6.svg", alt="")
					.service__name
						span BẢO VỆ THỰC VẬT