.fp-slide(fp-tooltip="Giới thiệu")
	section.setting-section.section-about(fp-bg="./assets/images/background-fullpage/index-1.png")
		.container.h-100
			.container-custom.container-1385px.h-100
				.section-about__wrapper
					.row
						.col-md-6
							.about-informations
								.information__item
									.information__wrapper
										.information__value
											p.round-log(index="0") 24
										.information__text
											p.tt-u NĂM THÀNH LẬP
								.information__item
									.information__wrapper
										.information__value
											p.round-log(index="1") 3200
										.information__text
											p.tt-u NHÂN VIÊN
								.information__item
									.information__wrapper
										.information__value
											p.round-log(index="2") 40
										.information__text
											p.tt-u QUỐC GIA
											p.tt-u SẢN PHẨM HIỆN DIỆN
								.information__item
									.information__wrapper
										.information__value
											p.round-log(index="3") 100
										.information__text
											p.tt-u ĐỐI TÁC
											p.tt-u TẬP ĐOÀN NÔNG NGHIỆP
							.about-desc.section-description
								p.lcl.lcl-3 Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu...
							.about-read-more
								a.btn.tt-u.btn-read-more-style-1(href="#") xem thêm
						.col-md-6
							.section-image-shadow
								.img.ov-h
									img.ofcv.lazyload.blur-up(data-src="./assets/images/index-1/item-section.png", alt="ITEM-index-1")