.fp-slide#news(fp-tooltip="Tin tức")
	section.setting-section.section-news
		.container
			.container-custom.container-1385px
				.section-title-basic.typography-animate-3.ta-c
					.text
						h2(green) TIN TỨC HOẠT ĐỘNG
						span.line(green)
				.slider-section-news
					.swiper-container
						.swiper-wrapper
							.swiper-slide
								a(href="#").news__item
									.news__thumbnail.ov-h.background-overlay.bg-full.bg-multiply(style="--url: url(../assets/images/background-overlay/overlay-1.svg)")
										img.ofcv(src=`assets/images/index-2/1.png`, alt="NEWS")
									.news__descriptions
										.news__title.lcl.lcl-2 Gạo ST 25 ngon nhất thế giới chưa được EU miễn thuế
										.news__desc.lcl.lcl-3 Do thời gian đàm phán với Liên minh châu Âu (EU) kéo dài 10 năm nên danh sách gạo thơm được hưởng ưu đãi thuế xuất khẩu không có giống gạo ST25...
										.news__readmore
											.btn.btn-read-more-style-2
												.text Đọc tiếp
							.swiper-slide
								a(href="#").news__item
									.news__thumbnail.ov-h.background-overlay.bg-full.bg-multiply(style="--url: url(../assets/images/background-overlay/overlay-1.svg)")
										img.ofcv(src=`assets/images/index-2/2.png`, alt="NEWS")
									.news__descriptions
										.news__title.lcl.lcl-2 Long An ứng dụng công nghệ, kỹ thuật mới vào nông nghiệp
										.news__desc.lcl.lcl-3 Tỉnh Long An xác định phát triển sản xuất nông nghiệp ứng dụng công nghệ cao là một trong những hướng phát triển kinh tế...
										.news__readmore
											.btn.btn-read-more-style-2
												.text Đọc tiếp
							.swiper-slide
								a(href="#").news__item
									.news__thumbnail.ov-h.background-overlay.bg-full.bg-multiply(style="--url: url(../assets/images/background-overlay/overlay-1.svg)")
										img.ofcv(src=`assets/images/index-2/3.png`, alt="NEWS")
									.news__descriptions
										.news__title.lcl.lcl-2 Lộc Trời triển khai drone chăm sóc nông sản ở miền Trung
										.news__desc.lcl.lcl-3 Ngày17/6, tại xã Bình Trung (huyện Thăng Bình, tỉnh Quảng Nam), Tập đoàn Lộc Trời đã tổ chức trình diễn thiết bị bay không người lái (drone) phun thuốc... phòng trừ sâu hại lúa
										.news__readmore
											.btn.btn-read-more-style-2
												.text Đọc tiếp
							.swiper-slide
								a(href="#").news__item
									.news__thumbnail.ov-h.background-overlay.bg-full.bg-multiply(style="--url: url(../assets/images/background-overlay/overlay-1.svg)")
										img.ofcv(src=`assets/images/index-2/1.png`, alt="NEWS")
									.news__descriptions
										.news__title.lcl.lcl-2 Gạo ST 25 ngon nhất thế giới chưa được EU miễn thuế
										.news__desc.lcl.lcl-3 Do thời gian đàm phán với Liên minh châu Âu (EU) kéo dài 10 năm nên danh sách gạo thơm được hưởng ưu đãi thuế xuất khẩu không có giống gạo ST25...
										.news__readmore
											.btn.btn-read-more-style-2
												.text Đọc tiếp
					.slider-section-news-button-prev
					.slider-section-news-button-next
				.news-read-more.ta-c
					a.btn.tt-u.btn-read-more-style-1(gray) xem thêm