.fp-slide(fp-tooltip="Sản phẩm")
	section.setting-section.section-products(fp-bg="./assets/images/background-fullpage/index-4.png")
		.container
			.container-custom.container-1385px
				.section-title-basic.ta-c
					h2(white) SẢN PHẨM
				.slider-products
					.swiper-container
						.swiper-wrapper
							.swiper-slide
								a(href="#").product__item
									.product__thumbnail.ov-h
										img(src=`assets/images/index-4/1.png`, alt="product")
									.product__descriptions
										.product__name.lcl.lcl-2 GẠO MẦM VIBIGABA
										.product__desc
											.desc__item
												p Gía: 100.000 Đ
											.desc__item
												p Khối lượng: 2 kg
										.product__readmore
											.btn.btn-read-more-style-2
												.text Xem chi tiết
							.swiper-slide
								a(href="#").product__item
									.product__thumbnail.ov-h
										img(src=`assets/images/index-4/2.png`, alt="product")
									.product__descriptions
										.product__name.lcl.lcl-1 GẠO HẠT NGỌC TRỜI
										.product__desc
											.desc__item
												p Gía: 100.000 Đ
											.desc__item
												p Khối lượng: 2 kg
										.product__readmore
											.btn.btn-read-more-style-2
												.text Xem chi tiết
							.swiper-slide
								a(href="#").product__item
									.product__thumbnail.ov-h
										img(src=`assets/images/index-4/3.png`, alt="product")
									.product__descriptions
										.product__name.lcl.lcl-2 PHÂN HỮU CƠ KHOÁNG
										.product__desc
											.desc__item
												p Gía: 100.000 Đ
											.desc__item
												p Khối lượng: 2 kg
										.product__readmore
											.btn.btn-read-more-style-2
												.text Xem chi tiết
							.swiper-slide
								a(href="#").product__item
									.product__thumbnail.ov-h
										img(src=`assets/images/index-4/4.png`, alt="product")
									.product__descriptions
										.product__name.lcl.lcl-2 DƯA HẤU LAI F1
										.product__desc
											.desc__item
												p Gía: 100.000 Đ
											.desc__item
												p Khối lượng: 2 kg
										.product__readmore
											.btn.btn-read-more-style-2
												.text Xem chi tiết
					.slider-products-button-prev
					.slider-products-button-next
				.section-read-more-has-line.ta-c.ta-c
					a.btn.tt-u.btn-read-more-style-1 xem thêm