.fp-slide#development(fp-tooltip="Phát triển bền vững")
	section.setting-section.section-development(fp-bg="./assets/images/background-fullpage/index-4.png")
		.container.h-100
			.container-custom.container-1385px.h-100
				.section-text
					.section-title
						.text.cl-white.ta-r.typography-animate-2(style="--fz: 7.3rem") CHUỖI GIÁ TRỊ
						.text.cl-irish.typography-animate-1(style="--fz: 13rem") NÔNG NGHIỆP
						.text.cl-green.typography-animate-2(style="--fz: 9.3rem") BỀN VỮNG
					.development-desc.section-description
						p.lcl.lcl-5 Cùng chung một khát vọng với nông dân Việt Nam, chúng tôi đang từng ngày dốc sức để đưa chuỗi giá trị nông nghiệp bền vững của Tập đoàn Lộc Trời  mỗi ngày  một phát triển lên tầm cao mới,  góp phần mang lại giá trị bền vững...cho nền nông nghiệp, nông dân, nông thôn Việt Nam....
					.development-read-more
						a.btn.tt-u.btn-read-more-style-1(href="#") xem thêm
					.development-img.section-image-circle
						.img.ov-h
							img.ofcv.lazyload.blur-up(data-src="./assets/images/index-4/item-section.png", alt="ITEM-DEVELOPMENT")