.fp-slide#relations(fp-tooltip="Quan hệ cổ đông")
	section.setting-section.section-shareholder-relations(fp-bg="./assets/images/background-fullpage/index-5.png")
		.container
			.container-custom.container-1385px
				.section-title-basic.typography-animate-3.ta-c
					.text
						h2(white) QUAN HỆ CỔ ĐÔNG
						span.line(white)
				.shareholders
					a(href="#").shareholder__item
						.item__wrapper
							.shareholder__title.ta-c LỊCH SỬ HÌNH THÀNH VÀ PHÁT TRIỂN
							.shareholder__readmore
								.btn.btn-read-more-style-2
									.text Đọc tiếp
					a(href="#").shareholder__item
						.item__wrapper
							.shareholder__title.ta-c CƠ CẤU CỔ ĐÔNG
							.shareholder__readmore
								.btn.btn-read-more-style-2
									.text Đọc tiếp
					a(href="#").shareholder__item
						.item__wrapper
							.shareholder__title.ta-c CẤU TRÚC CÔNG TY
							.shareholder__readmore
								.btn.btn-read-more-style-2
									.text Đọc tiếp
					a(href="#").shareholder__item
						.item__wrapper
							.shareholder__title.ta-c LỊCH SỰ KIỆN NHÀ ĐẦU TƯ
							.shareholder__readmore
								.btn.btn-read-more-style-2
									.text Đọc tiếp
				.section-read-more-has-line.ta-c
					a.btn.tt-u.btn-read-more-style-1 XEM THÊM