.fp-slide(fp-tooltip="Media")
	section.setting-section.seciton-meida(fp-bg="./assets/images/background-fullpage/index-6.png")
		.container.h-100
			.container-custom.container-1385px.h-100
				.section-about__wrapper
					.row
						.col-md-5
							.section-title
								.text.cl-white.typography-animate-2(style="--fz: 10.1rem") MEDIA
							.meida-desc.section-description
								p.lcl.lcl-5 Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu Donec quam felis, ultricies nec ...
							.meida-read-more
								a.btn.tt-u.btn-read-more-style-1(href="#") xem thêm
						.col-md-7
							.slider-section-media
								.swiper-container
									.swiper-wrapper
										.swiper-slide
											a.meida__item(href="#")
												.media__thumbnail.ov-h.background-overlay.bg-bottom.bg-size-cover(style="--url: url(../assets/images/background-overlay/overlay-2.svg)")
													img.ofcv(src="./assets/images/index-6/1.png", alt="MEIDA")
													.thumbnail__desc
														p.lcl.lcl-2 Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
										.swiper-slide
											a.meida__item(href="#")
												.media__thumbnail.ov-h.background-overlay.bg-bottom.bg-size-cover(style="--url: url(../assets/images/background-overlay/overlay-2.svg)")
													img.ofcv(src="./assets/images/index-6/2.png", alt="MEIDA")
													.thumbnail__desc
														p.lcl.lcl-2 Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
										.swiper-slide
											a.meida__item(href="#")
												.media__thumbnail.ov-h.background-overlay.bg-bottom.bg-size-cover(style="--url: url(../assets/images/background-overlay/overlay-2.svg)")
													img.ofcv(src="./assets/images/index-6/3.png", alt="MEIDA")
													.thumbnail__desc
														p.lcl.lcl-2 Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
								.slider-section-media-button-next