.fp-slide#contact(fp-tooltip="Liên hệ")
	section.setting-section.section-contact(fp-bg="./assets/images/background-fullpage/index-7.png")
		.container.h-100
			.container-custom.container-1385px.h-100
				.section-contact__wrapper
					.row.ai-c
						.col-md-6
							.section-title
								.text.cl-white.typography-animate-1(style="--fz: 8.5rem") LIÊN HỆ
								.contact-desc.section-description
									p.lcl.lcl-2 Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa...
								.contact-informations
									a(href="mailto:support@loctroi.vn").item__info
										.icon
											img.svg(src="./assets/icons/contact-mail.svg", alt="ICON-MAIL")
										.txt
											span support@loctroi.vn
									a(href="https://www.loctroi.vn/").item__info
										.icon
											img.svg(src="./assets/icons/contact-website.svg", alt="ICON-WEBSITE")
										.txt
											span www.loctroi.vn
						.col-md-6
							.company-headquarters
								.company-headquarters__item
									.name Trụ sở chính
									.contact-informations
										a(href="#").item__info
											.icon
												img.svg(src="./assets/icons/contact-address.svg", alt="ICON-MAIL")
											.txt
												span 23 Hà Hoàng Hổ, P. Mỹ Xuyên, Tp. Long Xuyên, An Giang
										a(href="tel:1900565623").item__info
											.icon
												img.svg(src="./assets/icons/contact-phone.svg", alt="ICON-WEBSITE")
											.txt
												span 1900565623
								.company-headquarters__item
									.name Văn phòng đại diện tại Tp. HCM
									.contact-informations
										a(href="#").item__info
											.icon
												img.svg(src="./assets/icons/contact-address.svg", alt="ICON-MAIL")
											.txt
												span 72 Nguyễn Cơ Thạch, Phường An Lợi Đông, Quận 2, Tp. HCM
										a(href="tel:028 7305 6999").item__info
											.icon
												img.svg(src="./assets/icons/contact-phone.svg", alt="ICON-WEBSITE")
											.txt
												span 028 7305 6999
								.company-headquarters__item
									.name Cambodia
									.contact-informations
										a(href="#").item__info
											.icon
												img.svg(src="./assets/icons/contact-address.svg", alt="ICON-MAIL")
											.txt
												span 825D đường Preah Monivong, phường Sangkat Phsar Daem Thkauv, quận Khan Chamcar Mon, thủ đô Phnom Penh
										a(href="tel:(+855) 236 315 666").item__info
											.icon
												img.svg(src="./assets/icons/contact-phone.svg", alt="ICON-WEBSITE")
											.txt
												span (+855) 236 315 666 – Fax: (+855) 23 992 750